<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BNK부산은행 - 펀드</title>
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com crossorigin}">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/member/login.css}">
</head>
<body>
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="logo">
                    <a href="/">
                        <img th:src="@{/images/main/h1_busanbank_new.png}" alt="BNK부산은행">
                    </a>
                </div>
                <div class="header-utils">
                    <a href="#" class="util-link">로그인</a>
                    <button type="button" class="btn-search" title="검색하기">검색하기</button>
                    <button type="button" class="btn-allmenu" title="전체메뉴">전체메뉴</button>
                </div>
            </div>
        </div>
        <nav class="nav">
            <div class="container">
                <ul class="nav-menu">
                    <li><a href="#">펀드상품</a></li>
                    <li><a href="#">추천펀드</a></li>
                    <li><a href="#">수익률BEST</a></li>
                    <li><a href="#">판매BEST</a></li>
                    <li><a href="#">ELF</a></li>
                    <li><a href="#">펀드케어</a></li>
                    <li><a href="#">펀드정보센터</a></li>
                    <li><a href="#">펀드이용가이드</a></li>
                    <li><a href="#">펀드서비스</a></li>
                </ul>
            </div>
        </nav>
    </header>

