<div th:replace="~{member/_head.html}"></div>
<div class="login-container">

    <!-- 탭 메뉴 -->
    <div class="tab-menu">
        <p>홈페이지 회원</p>
    </div>


    <!-- 홈페이지 회원 -->
    <div id="homepage" class="tab-content center-content">
        <form class="login-form" th:action="@{/login}" method="post">
            <input type="text" name="userid" placeholder="아이디를 입력해주세요" required>
            <input type="password" name="userpw" placeholder="비밀번호를 입력해주세요" required>
            <label><input type="checkbox"> 마우스로 입력</label>
            <button type="submit" class="btn-red">로그인</button>

            <div class="link-group">
                <a th:href="@{/find-id}">아이디조회</a> |
                <a th:href="@{/find-password}">비밀번호변경</a> |
                <a th:href="@{/join/type}">회원가입</a>
            </div>
        </form>

        <div class="info">
            홈페이지회원 로그인은 일부 서비스에 한하여 이용하실 수 있습니다.
        </div>
    </div>


</div>
<div th:replace="~{member/_tail.html}"></div>